<div class="container">

  <h1 class="text-center">Нові повідомлення</h1>
   <% if @messages.present? %>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Тема</th>
          <th>Повідомлення</th>
          <th>Дата відправлення</th>
          <th>Перейти до листування</th>
          <th colspan="4"></th>
        </tr>
        </thead>

        <tbody>
        <% @messages.each do |message| %>
            <tr>
              <td><%= message.topic %></td>
              <td><%= message.content %></td>
              <td><%= message.created_at.strftime("%d.%m.%Y")%></td>
              <td><%= link_to "#{message.sender.name}", user_messages_path(message.sender) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>
